<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="topnav">
        <h1>GD-Doc</h1>
        <img src="<%= picture %>">
        <a href="/">Logout</a>
    </div>
    <div class="sidenav">
        <h2 style="color: white">Word Documents</h2>
        <form>
            <% if(files.length) { for(var file of files) { %>)
                <form action="/<%= file.id%>">
                    <input class="docButton" type="submit" value=<%= file.name%> />
                </form>
            <%}}%>
        </form>
    </div>

    <div id="main" class="main">
        <% if(success) {%>
            <iframe src="<%= filePath %>"></iframe>
        <%}%>
    </div>
</body>
</html> 
