<!Doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href="/your-path-to-fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="/your-path-to-fontawesome/css/brands.css" rel="stylesheet">
    <link href="/your-path-to-fontawesome/css/solid.css" rel="stylesheet">
    <link href="/index.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container" id="particles-js">
        <div class="text-center">
            <img src='./gd-doc.png'>
            <h1> GD Docs</h1>
            <a href='<%= url %>' class="btn btn-lg btn-primary"><i class="fa fa-google-drive"></i> Google Signin</a>
        </div>
    </div>

    <script src="../public/particles.min.js"></script>
    <script src="../public/app.js"></script>
</body>
</html>
