body {
    font-family: "Lato", sans-serif;
    margin: 0;
}
  
.topnav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 70px;
    margin: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.topnav h1 {
    color:white";
}
  
a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 15px;
    margin-left: 15px; 
    border-radius: 30px;
}
  
a:hover, a:active {
    background-color: red;
}

img {
    width: 5%;
    padding-right: 10px;
    border-radius: 50%;
}

.sidenav {
    height: 100vh - 70px;
    width: 306px;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}
  
button {
    text-decoration: none;
    border: none;
    padding: 3px 6px;
    font-size: 15px;
    color: #818181;
    background: none;
    width: 290px; 
    height: 60px;
    cursor: pointer;
}
  
button:hover {
    color: #f1f1f1;
    background: #818181;
}
  
.main {
    margin-left: 306px; /* Same as the width of the sidenav */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
  
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

iframe {
    width:100%;
    height:100vh;
    max-height: 100vh;
    overflow-y: scroll
}